---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
import Swiper from '../components/Swiper.vue';
---
<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <Swiper client:idle />
</BaseLayout>